# Docker Compose file for Gestion Academica API
services:
###> doctrine/doctrine-bundle ###
  # Esta es la base de datos PostgreSQL que se utiliza en la aplicación 
  # Configuración básica, se pueden ajustar más parámetros según sea necesario
  # Contenedor de la base de datos
  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      # Deben cambiar estas credenciales en producción
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###

  # Contenedor del backend
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    environment:
      APP_ENV: ${APP_ENV:-dev}
      APP_DEBUG: ${APP_DEBUG:-1}
      DATABASE_URL: ${DATABASE_URL:-postgresql://app:!ChangeMe!@database:5432/app?serverVersion=16&charset=utf8}
      JWT_SECRET: ${JWT_SECRET}
      # Aqui van las variables de entorno para Mercure (La tecnologia para el chat)
      MERCURE_URL: ${MERCURE_URL}
      MERCURE_PUBLIC_URL: ${MERCURE_PUBLIC_URL}
      MERCURE_JWT_SECRET: ${MERCURE_JWT_SECRET}
    depends_on:
      - database
    networks:
      - default
  # Contenedor del servidor web
  web:
    image: nginx:1.27-alpine
    depends_on:
      - app
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - default

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0", "--port", "5173"]
    ports:
      - "5173:5173"
    environment:
      VITE_API_URL: http://localhost:8000
      VITE_MERCURE_URL: http://localhost:3000/.well-known/mercure
    volumes:
      - ../frontend:/app
      - frontend_node_modules:/app/node_modules
    working_dir: /app
    depends_on:
      - app
    networks:
      - default

volumes:
###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
  frontend_node_modules:
